<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zfyc.dao.ShopDAO">

    <insert id="save" >
        INSERT INTO
          shop
          (
            shop_name,
            type_id,
            cty_id,
            careful_id,
            name,
            address,
            degrees,
            shop_photo,
            in_store,
            license_photo,
            permit_photo,
            id_num,
            just_id_photo,
            back_id_photo,
            bank_address,
            bank_nane,
            bank_name,
            bank_id,
            bank_phone,
            status,
            create_date

          )
          VALUES
	      (
            #{shop.shopName},
            #{shop.typeId},
            #{shop.ctyId},
            #{shop.carefulId},
            #{shop.name},
            #{shop.address},
            #{shop.degrees},
            #{shop.shopPhoto},
            #{shop.inStore},
            #{shop.licensePhoto},
            #{shop.permitPhoto},
            #{shop.idNum},
            #{shop.justIdPhoto},
            #{shop.backIdPhoto},
            #{shop.bankAddress},
            #{shop.bankNnme},
            #{shop.bankName},
            #{shop.bankId},
            #{shop.bankPhone},
            #{shop.status},
            now()
            )

    </insert>

    <select id="checkPhoneNum" parameterType="String" resultType="cn.com.zfyc.bean.ShopEntity">
        SELECT * FROM  shop WHERE
        <if test="shopId != null">
            shop_id = #{shopId}
        </if>
    </select>

    <select id="checkUserName" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  user WHERE user_name = #{user_name}
    </select>

</mapper>