<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zfyc.dao.CategoryDao">

    <insert id="save" >
        INSERT INTO
          category
          (type_id,category_name)
          VALUES
          (
            #{category.typeId},
            #{category.categoryName}
          )
    </insert>
    <delete id="delete">
        delete  from  category where  id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
    </delete>
    <select id ="listAllCategory" resultType="cn.com.zfyc.bean.CategoryEntity">
        select
          id,type_id typeId,category_name categoryName
        from
         category
    </select>
</mapper>