<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zfyc.dao.GoodsDao">

    <insert id="save" >
        INSERT INTO
            goods ( shop_id, goods_name, category_id, sale_price, preferential_price, status, img_url )
         VALUES
        (
            #{goods.shopId},
            #{goods.goodsName},
            #{goods.categoryId},
            #{goods.salePrice},
            #{goods.preferentialPrice},
            #{goods.status},
            #{goods.imgUrl}
        )
    </insert>
    <update id ="update">
        UPDATE goods
        <set>
            <if test="goods.goodsName != null">
                goods_name = #{goods.goodsName},
            </if>
            <if test="goods.categoryId != null">
                category_id = #{goods.categoryId},
            </if>
            <if test="goods.salePrice != null">
              sale_price = #{goods.salePrice},
            </if>
            <if test="goods.preferentialPrice != null">
              preferential_price = #{goods.preferentialPrice},
            </if>
            <if test="goods.imgUrl != null">
              img_url =  #{goods.imgUrl},
            </if>
            <if test="goods.status != null">
                status =  #{goods.status}
            </if>
        </set>
        WHERE
            goods_id =  #{goods.goodsId}
    </update>
    <select id ="listAllGoods" resultType="cn.com.zfyc.bean.GoodsEntity">
        SELECT
             goods_id goodsId, shop_id shopId, goods_name goodsName, category_id categoryId,
             sale_price salePrice, preferential_price preferentialPrice, status, img_url imgUrl
        FROM
            goods
        WHERE
            STATUS = 1
            AND shop_id = #{shopId}
    </select>
</mapper>