<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zfyc.dao.OrderDao">
    <resultMap id="OrderMap" type="cn.com.zfyc.bean.OrderEntity">
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="shop_id" property="shopId" jdbcType="INTEGER"/>
        <result column="order_amount" property="orderAmount" jdbcType="DOUBLE"/>
        <result column="shop_income" property="shopIncome" jdbcType="DOUBLE"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="note" property="note" jdbcType="VARCHAR"/>
        <result column="ext1" property="ext1" jdbcType="VARCHAR"/>
        <result column="ext2" property="ext2" jdbcType="VARCHAR"/>
        <result column="ext3" property="ext3" jdbcType="VARCHAR"/>
        <result column="ext4" property="ext4" jdbcType="VARCHAR"/>
        <result column="ext5" property="ext5" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findOrderByShopId" resultMap="OrderMap">
        SELECT * FROM `order`
        WHERE
        shop_id = #{shopId} AND ( status = 1 or status = 2)
        ORDER BY create_date DESC
        LIMIT #{start},#{end}
    </select>

    <select id="findAllOrder" resultMap="OrderMap">
        SELECT * FROM `order` ORDER BY create_date DESC
         LIMIT #{start},#{end}
    </select>

    <select id="findOrderByOrderId" resultMap="OrderMap">
        SELECT * FROM `order` WHERE order_id = #{orderId}
    </select>

    <insert id="insertOrder" parameterType="cn.com.zfyc.bean.OrderEntity">
        INSERT into `order`
        (order_id,goods_id,goods_name,shop_id,order_amount,shop_income,user_id,count,status,note,create_date,ext1,ext2,ext3,ext4,ext5)
        values (
          #{orderId},
          #{goodsId},
          #{goodsName},
          #{shopId},
          #{orderAmount},
          #{shopIncome},
          #{userId},
          #{count},
          #{status},
          #{note},
          NOW(),
          #{ext1},
          #{ext2},
          #{ext3},
          #{ext4},
          #{ext5}
        )
    </insert>
    <update id="updateOrderStatus">
        UPDATE `order` set status = #{status} where order_id = #{orderId}
    </update>
</mapper>
