<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.zfyc.dao.UserDao">

   <insert id="insertUser" parameterType="cn.com.zfyc.bean.User">
       INSERT INTO user(user_id,phone_num,password,user_type,create_date,token,Integral)
       VALUES (#{user_id},#{phoneNum},#{password},#{user_type},NOW(),#{token},0)
   </insert>

    <select id="checkPhoneNum" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  user WHERE phone_num = #{phone_num}
    </select>

    <select id="checkUserName" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  user WHERE user_name = #{user_name}
    </select>

    <select id="login" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user WHERE
        phone_num = #{param} AND password = #{password}
        AND user_type = 1
    </select>

    <update id="updateUserToken" parameterType="String" >
        UPDATE user set token = #{token} where phone_num = #{phoneNum}
    </update>

    <select id="findUserByPhoneNum" parameterType="String" resultType="cn.com.zfyc.bean.User">
        SELECT * FROM user where phone_num = #{phoneNum}
    </select>

    <select id="findUserByUserId" parameterType="String" resultType="cn.com.zfyc.bean.User">
        SELECT * FROM user where user_id = #{userId}
    </select>

</mapper>